.container {
    display: flex;
    margin: 15px;
    text-align: center;
}
.container.horizontal {
    flex-flow: row;
}
.container.vertical {
    flex-flow: column;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
    background-color: rgba(38, 40, 55, 0.6);
    /* Card-like dark blue background */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 350px;
}

label {
    font-size: 18px;
    color: #a3f7ff;
}

input[type="text"], input[type="file"] {
    border: 1px solid rgb(0, 230, 230);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(31, 34, 53);
    color: #00e6e6;
}

input[type="submit"], button {
    background-color: rgb(0, 230, 230);
    color: rgb(28, 30, 41);
    font-size: 18px;
    margin: 0px 15px 0px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: rgb(0, 179, 179);
    /* Darker shade on hover */
}

input[type="submit"]:disabled, button:disabled {
    background-color: rgb(128, 128, 128);
}