@import url("./container.css");

/* Status */
.container.statusbar {
    flex-flow: column;
    text-align: left;
    position: sticky;
    bottom: 0;
    left: 25vw;
    width: auto;
    min-width: 25vw;
}

.status {
    padding: 4px 12px;
    background-color: rgb(192, 192, 192);
    color: rgb(64, 64, 64);
    border-left: 6px solid rgb(64, 64, 64);
}

.status p {
    font-size: 18px
}

.status p strong {
    font-weight: bold;
    display: inline-block;
    min-width: 92px;
}

.status.success {
    background-color: rgb(128, 255, 128);
    border-left: 6px solid rgb(0, 128, 0);
}

.status.info {
    background-color: rgb(0, 192, 255);
    border-left: 6px solid rgb(0, 32, 255);
}